@import url('https://fonts.googleapis.com/css?family=Montserrat:400,500,700,900');
$primaryColor: #f4d6b4;
#socialNets {
  width: 30px;
}
.socialNets{
  margin-right: 20px;
  margin-top: auto;
  margin-bottom: auto;
}
body{
    background-color: rgb(15, 15, 15);
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}
#header{
    z-index: 999999;
    position: fixed;
    background: #222222;
    display: flex;
    width: 100vw;
    top: 0;
    left: 0;
}
#logo{
    width: 150px;
    height: 45px;
}
a{
    text-decoration: none;
  }
nav{
    font-family: monospace;
    margin-right: 50%;
    font-size: 12pt;
    margin:auto;
  }
  
ul{
    background: #222222;
    list-style: none;
    margin: 0;
    padding-left: 0;
  }
  
li{
    width: 7vw;
    height: 2vh;
    color: rgb(255, 157, 101);
    background: #222222;
    display: block;
    float: left;
    padding: 1rem;
    position: relative;
    text-decoration: none;
    transition-duration: 0.5s;
  }
    
li a {
    color: rgb(255, 157, 101);
}
li:hover{
    a{
    color: white;
    }
}
li:hover {
    background: rgb(255, 157, 101);
    cursor: pointer;
    color: white;
}
  
ul li ul {
    background: #222222;
    visibility: hidden;
    opacity: 0;
    min-width: 5rem;
    position: absolute;
    transition: all 0.5s ease;
    margin-top: 1rem;
    left: 0;
    display: none;
}
  
ul li:hover > ul,
ul li ul:hover {
    visibility: visible;
    opacity: 1;
    display: block;
    color: white;
}
  
ul li ul li {
    clear: both;
    width: 7vw;
    height: 3vh;
}
.content {
width: 100vw;
height: 50vh;
margin-top: 10vh;
margin-bottom: 20vh;
margin-top: auto;
}
#content {
  width: 90vw;
}