@import url('https://fonts.googleapis.com/css?family=Montserrat:400,500,700,900');
$primaryColor: #f4d6b4;
#socialNets {
  width: 30px;
}
.socialNets{
  margin-right: 20px;
  margin-top: auto;
  margin-bottom: auto;
}
body{
    background-color: rgb(15, 15, 15);
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}
#header{
    z-index: 999999;
    position: fixed;
    background: #222222;
    display: flex;
    width: 100vw;
    top: 0;
    left: 0;
}
#logo{
    width: 150px;
    height: 48px;
}
a{
    text-decoration: none;
  }
nav{
    font-family: monospace;
    margin-right: 50%;
    font-size: 12pt;
    margin:auto;
  }
  
ul{
    background: #222222;
    list-style: none;
    margin: 0;
    padding-left: 0;
  }
  
li{
    width: 7vw;
    height: 2vh;
    color: rgb(255, 157, 101);
    background: #222222;
    display: block;
    float: left;
    padding: 1rem;
    position: relative;
    text-decoration: none;
    transition-duration: 0.5s;
  }
    
li a {
    color: rgb(255, 157, 101);
}
li:hover{
    a{
    color: white;
    }
}
li:hover {
    background: rgb(255, 157, 101);
    cursor: pointer;
    color: white;
}
  
ul li ul {
    background: #222222;
    visibility: hidden;
    opacity: 0;
    min-width: 5rem;
    position: absolute;
    transition: all 0.5s ease;
    margin-top: 1rem;
    left: 0;
    display: none;
}
  
ul li:hover > ul,
ul li ul:hover {
    visibility: visible;
    opacity: 1;
    display: block;
    color: white;
}
  
ul li ul li {
    clear: both;
    width: 7vw;
    height: 3vh;
}

#comments {
  width: 80%;
  height: 40%;
  background: #222222;
}

       #content{
           display: flex;
           flex-direction: column;
       }
       .build{
           display: flex;
           flex-direction: column;
           background-color: #ffbf77;
           width: 70%;
           height: auto;
           margin-left: auto;
           margin-right: auto;
           margin-top: 5%;
           padding: 5%;
           border-radius: 5px;
           
       }
       .build:hover{
        .buildImg{
            filter: sepia(0%);
        }
       }
       .buildImg{
           margin: auto;
           width: 40%;
           height: 50%;
           border: 5px solid black;
           border-radius: 5px;
           filter: sepia(100%);
           transition: 1s;
       }
       .text{
        padding: 5%;
           display: flex;
           flex-direction: column;
           margin-left: auto;
       }
       .info{
           margin: auto auto ;
           font-size: 125%;
           width: 80%;
           height: 100%;
           background: #d3985a;
           border-radius: 5px;
           text-align: center;
           font-family: 'Times New Roman', Times, serif;
           padding: 5%;
       }
       dialog{
         background: #ffc98c;
         border-radius: 5px;
         border: none;
       }
       
dialog::backdrop {
  background-color: rgba(0, 0, 0, 0.8);
}

#grounds{
  display: flex;
  background: #bd7d62;
  flex-direction: column;
  width: 3vw;
  margin-left: 5%; 
  border-radius: 5px;
  margin-bottom: 5%;
  margin-top: 5%
}
.button{
  color: white;
  border: none;
  background: black;
  border-radius: 100%;
  width: 50px;
  height: 50px;
  margin-top: 2px;
  margin-bottom: 3px;
  transition: 1s;
  margin-left: auto;
  margin-right: auto;
}
.button:hover{
  cursor: pointer;
  color: black;
  background: white;
#close {
  align-self: center;
  border: none;
  background: #bd7d62;
  border-radius: 3px;
  outline: none;
  cursor: pointer;
}
}
